#!/usr/bin/make -f

export PYBUILD_NAME=eyed3

dstdir := $(CURDIR)/debian/python-eyed3
dstdir_py3 := $(CURDIR)/debian/python3-eyed3
eyed3_dstdir := $(CURDIR)/debian/eyed3


%:
	dh $@ --with python2,python3 --buildsystem=pybuild


override_dh_installchangelogs:
	dh_installchangelogs -p eyed3 HISTORY.rst
	dh_installchangelogs -p python3-eyed3 HISTORY.rst
	dh_installchangelogs -p python-eyed3 HISTORY.rst


override_dh_auto_test:


override_dh_auto_install:
	dh_auto_install
	mkdir -p ${eyed3_dstdir}/usr/bin/
	mv ${dstdir}/usr/bin/eyeD3 ${eyed3_dstdir}/usr/bin/eyeD3
	rm ${dstdir_py3}/usr/bin/eyeD3
